In [45]:
import pandas as pd
df = pd.read_excel("weather_data (2).xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02          NaN        7.0  Sunny
2 2017-01-03         28.0        NaN   Snow
3 2017-01-04          NaN        7.0    NaN
4 2017-01-05         32.0        NaN   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN

In [40]:
new_df = df.fillna(method='bfill')
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02         28.0        7.0  Sunny
2 2017-01-03         28.0        7.0   Snow
3 2017-01-04         32.0        7.0   Rain
4 2017-01-05         32.0        2.0   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN

In [41]:
new_df = df.fillna(method="ffill")
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02         32.0        7.0  Sunny
2 2017-01-03         28.0        7.0   Snow
3 2017-01-04         28.0        7.0   Snow
4 2017-01-05         32.0        7.0   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0  Sunny

In [42]:
new_df = df.fillna({
    'temperature':0,
    'windspeed':0,
    'event': 'no event'
})
new_df

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-02          0.0        7.0     Sunny
2 2017-01-03         28.0        0.0      Snow
3 2017-01-04          0.0        7.0  no event
4 2017-01-05         32.0        0.0      Rain
5 2017-01-06         31.0        2.0     Sunny
6 2017-01-06         34.0        5.0  no event

Drop row which don't have any value.

In [48]:
new_df = df.dropna(how='all')
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02          NaN        7.0  Sunny
2 2017-01-03         28.0        NaN   Snow
3 2017-01-04          NaN        7.0    NaN
4 2017-01-05         32.0        NaN   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN