In [21]:
import pandas as pd
df1 = pd.DataFrame({ "city":["new york", "chicago", "orlando","baltimore"],
    "temperature":[21,14,35,25]
    })
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           25

In [22]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [27]:
df3= pd.merge(df1, df2, on="city", how="outer", indicator=True)
df3

        city  temperature  humidity     _merge
0   new york           21      68.0       both
1    chicago           14      65.0       both
2    orlando           35      75.0       both
3  baltimore           25       NaN  left_only